<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NFeDistribuicaoDFeSoap">
                  <security mode="Transport">
                    <transport clientCredentialType="Certificate" proxyCredentialType="None"/>
                  </security>
                </binding>
                <binding name="NFeDistribuicaoDFeSoap1"/>
                <binding name="RecepcaoEventoSoap">
                  <security mode="Transport">
                    <transport clientCredentialType="Certificate" proxyCredentialType="None"/>
                  </security>
                </binding>
                <binding name="RecepcaoEventoSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx" binding="basicHttpBinding" bindingConfiguration="NFeDistribuicaoDFeSoap" contract="NFeDistribuicaoDFe.NFeDistribuicaoDFeSoap" name="NFeDistribuicaoDFeSoap"/>
            <endpoint address="https://www.nfe.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx" binding="basicHttpBinding" bindingConfiguration="RecepcaoEventoSoap" contract="NfeRecepcao.RecepcaoEventoSoap" name="RecepcaoEventoSoap"/>
        </client>
    </system.serviceModel>
</configuration>
